<div class="card card-rounded shadow">
    <div class="card-header" id="containerTipoPedidos">
        <h5 id="lbTituloVentas">Pedidos sin Enviar</h5>
        <button class="btn btn-secondary btn-md border-white" id="btnPedidosPendientes" onclick="dbSelectDocumentos(document.getElementById('tblDocumentos'),1);">
            <i class="now-ui-icons design_bullet-list-67"></i>Pendientes
        </button>
        <button class="btn btn-primary btn-md border-white" id="btnPedidosEnviados" onclick="dbSelectDocumentos(document.getElementById('tblDocumentos'),0);">
            <i class="now-ui-icons ui-1_check"></i>Enviados
        </button>
    </div>
    <div class="card-body">
   
    </div>
    
</div>

<div class="card table-responsive card-rounded shadow" id="tblVentas">
    <table class="table table-bordered">
        <thead class="bg-secondary text-white">
            <tr>
                <td class="col-1-sm col-1-md">No.</td>
                <td class="col-6-sm col-6-md">Cliente</td>
                <td class="col-3-sm col-3-md">Importe</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tblDocumentos">
            
        </tbody>

    </table>
    
        
    
</div>

<!-- Modal Opciones Pedido -->
<div class="modal fade" id="ModalOpcionesPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <span class="text-right"><label class="text-primary" id="txtIdPedido">pedido1</label> </span>
                    <div class="modal-header">
                        <label class="modal-title" id="txtNomClientePedido">Consumidor Final</label>
                    </div>

                    <div class="modal-body p-4">
                            <div class="col-8">
                                <div class="row">
                                    <label>Total Venta:</label>
                                    <b>
                                    <h3 class="text-right"  id="txtTotalPedido">Q 5000.00</h3>
                                    </b>
                                </div>
                    
                            </div>

                            <div class="row card-deck">
                                
                                    <div class="card card-rounded shadow col-6 hand" data-dismiss="modal" id="btnVentasCancelar">
                                        <button type="button" class="btn btn-secondary btn-icon btn-round btn-lg">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                        Cancelar
                                    </div>

                                    <div class="card card-rounded shadow col-6 hand" id="btnVentasEditar">
                                        <button class="btn btn-info btn-icon btn-round btn-lg">
                                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        </button>
                                        Editar
                                    </div>
                                        
                            </div>

                            <div class="row card-deck">
                                    <div class="card card-rounded shadow col-6 hand" id="btnVentasEliminar">
                                        <button type="button" class="btn btn-danger btn-icon btn-round btn-lg">
                                            <i class="now-ui-icons media-1_button-power"></i> 
                                        </button>
                                    Borrar Pedido
                                    </div>
                                    <div class="card card-rounded shadow col-6 hand" id="btnVentasEnviar">
                                        <button type="button" class="btn btn-primary btn-icon btn-round btn-lg" >
                                            <i class="now-ui-icons ui-1_send"></i> 
                                        </button>
                                    Enviar
                                    </div>
                            </div>

                    </div>
                
                </div>
    </div>
</div>

<!-- botón nuevo -->
<div id="fixed-btn2">
    <button class="btn btn-success btn-circle btn-xl shadow hand" id="btnNuevoPedido" data-dismiss="modal" onclick="CrearNuevoPedido();">+</button>

</div>

<style>

</style>
