        <br><br><br><br>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xl-5">

            <div class="card card-user card-rounded shadow">
                                             
                <div class="card-body">

                    <div class="author">
                        <img class="avatar border-gray" src="./assets/img/usuario.png" alt="...">
                    </div>

                    <div class="form">
                       
                        <div class="form-group">
                            <label class="negrita">Empresa:</label>
                            <select class="form-control" id="cmbEmpresas">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="negrita">Usuario:</label>
                            <input type="text" class="form-control" placeholder="Usuario..." id="txtUser">
                        </div>
                        <div class="form-group">
                            <label class="negrita">Contraseña:</label>
                            <input type="password" class="form-control" placeholder="Contraseña..." id="txtPass">
                        </div>
                        <div class="form-group text-right">
                            <button class=" btn btn-primary btn-xl btn-circle shadow hand" id="btnIniciar" onclick="fcnLogin();">
                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                    <hr>
            </div>
        </div>